<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steven.scan">

  <uses-permission android:name="android.permission.CAMERA"/>

  <uses-feature android:name="android.hardware.camera"/>
  <uses-feature
      android:name="android.hardware.camera.autofocus"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.camera.flash"
      android:required="false"/>

  <application
      android:hardwareAccelerated="true">
    <activity
        android:name=".action.CaptureActivity"
        android:screenOrientation="sensorPortrait"
        android:stateNotNeeded="true"
        android:theme="@style/ThemeScan"
        android:windowSoftInputMode="stateAlwaysHidden"/>
  </application>
</manifest>